<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>FrameComp uses your camera to preview compositions matching your Fujifilm X-T5 sensor. No photos are captured or stored.</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>camera</string>
    </array>
</dict>
</plist>
